<!DOCTYPE html>
<html>

  {% include head.html %}

    <body id="page-top" class="index">

    {% include header2.html %}
    <section class="container publications">
        <div>
            <h1 class="pubs-heading">{{ page.title }}</h1>
            {{ content }}
        </div>
    </section>
    {% include footer.html %}
    {% include js.html %}

    </body>
</html>
